body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI' ,sans-serif;
    background-color: #f5f5f5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
     
     .card{
        background:grey;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 8px 16px
        rgba(0,0,0,0.1);
        text-align: center;
        width: 320px;
        transition: background-color 0.3s 
        ease;

     }
     .bio{
        font-style: italic;
        color: #555;
     }
     
     .tech-stack{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
     }
     .tech-stack li{
        background: #eee;
        padding: 6px 12px;
        border-radius: 14px;
        font-size: 14px;
     }
     button {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        background: #021f3e;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
     }
     button:hover {
        background: #0056b3;

     }


     
    